
<div id="headerwrap">

  <%= image_tag("splash-image.jpg") %>

  <div class="row">
    <div class="large-3 columns red"></div>
    <div id="header-banner" class="large-6 large-centered columns green">
      <h1>Roast Review</h1>
      <p class="header-tagline"><em>Something here</em></p>
      <div class="header-buttons">
        <a href="#" class="button"><%= link_to "Sign Up", signup_path %></a>
        <a href="#" class="button"><%= link_to "Log In", login_path %></a>        
      </div>
    </div>
    <div class="large-3 columns blue"></div>
  </div>

</div>
