  <div class="row" id="splash-image">
    <%= image_tag("splash-image.jpg") %>
  </div>
  <div class="" id="header-banner">
    <h1>Roast Review</h1>
    <p class="header-tagline"><em>Something here</em></p>
    <div class="header-buttons">
      <a href="#" class="button">Discover</a>
    </div>
  </div>
