
<div id="headerwrap">

  <%= image_tag "splash-image.jpg", class: "splashPageBgImg" %>

  <div id="header-banner" class="large-6 columns large-offset-3 green">
    <h1>Roast Review</h1>
    <p class="header-tagline"><em>Share and discover great coffee.</em></p>
    <div class="header-buttons">
      <a href="/cafes" class="button">Discover</a>
    </div>
  </div>

</div>
