
<div id="headerwrap">

  <%= image_tag("splash-image-2.jpg") %>

  <div class="row">
    <div class="large-3 columns red"></div>
    <div id="header-banner" class="large-6 large-centered columns green">
      <h1>Roast Review</h1>
      <p class="header-tagline"><em>Share and discover great coffee.</em></p>
      <div class="header-buttons">
        <a href="#" class="button">Discover</a>
      </div>
    </div>
    <div class="large-3 columns blue"></div>
  </div>

</div>
