<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Roast Review</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="active"><%= link_to "Post", new_review_path %></li>

        <li><%= link_to "Signup", new_user_path %></li>
      </ul>
    </section>
  </nav>
</div>
